---
import Card from "../components/Card.astro";
import Button from "../components/Button.astro";
import MainLayout from "../layouts/MainLayout.astro";
---

<MainLayout title="Hjem">
			<Card header="Hej jorden" text="Jorden er den tredje planet i vores solsystem og er hjemsted for et mangfoldigt økosystem med en rig biodiversitet. Det er den eneste kendte planet, der understøtter liv.">
			<img src="/billede1.jpg" alt="billede1">
			</Card>
			<Button variant="primary" size="small">Knap</Button>
			<Card header="Hej univers" text="Universet er hele rummet og alt, hvad der findes i det, herunder planeter, stjerner, galakser, mørkt stof og energi. Det strækker sig ud over vores synlige horisont og er objekt for astronomisk forskning og spekulation.">
				<img src="/billede2.jpg" alt="billede2">
				</Card>
				<Button variant="secondary" size="medium">Read more</Button>
			<Card header="Hej Mars" text="Mars er den fjerde planet fra Solen og er blevet studeret som et potentiale for fremtidig menneskelig kolonisering. Det er kendt for sin røde farve på grund af jernoxid på overfladen og har været genstand for talrige rummissioner.">
				<img src="/billede3.jpg" alt="billede3">
				</Card>
				<Button variant="primary" size="large">Link</Button>
			<Card header="Hej galakse" text="En galakse er en enorm samling af stjerner, gas, støv og mørkt stof, der holdes sammen af gravitation. Vores egen galakse, Mælkevejen, er et eksempel på dette, og der er milliarder af andre galakser i universet, der udgør dets væv.">
				<img src="/billede4.jpg" alt="billede4">
				</Card>
				<Button variant="secondary" size="small">Klik her</Button>
			</MainLayout>
