---
import MainLayout from "../layouts/MainLayout.astro";
---

<MainLayout title="Om os">
	<h2>Om os</h2>
    <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Commodi, rem repudiandae laborum quia autem vitae assumenda blanditiis repellendus voluptatibus qui ratione similique numquam accusamus doloribus consectetur atque, dolores omnis distinctio.</p>
<p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Facilis suscipit in provident adipisci fuga tempora dolores magni deserunt mollitia, ipsam explicabo! Officiis asperiores commodi repellat quis accusantium omnis fugiat voluptate?Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quia ullam officiis nemo enim eum nisi aut sunt maiores eligendi consequuntur distinctio alias facere, magni optio dicta dignissimos assumenda, maxime a! Lorem ipsum, dolor sit amet consectetur adipisicing elit. Vel doloremque repellendus neque adipisci eaque sed quos minima eveniet qui veniam omnis obcaecati, fuga quam dolorum voluptas perspiciatis corrupti suscipit tenetur.</p>	
<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolorum cumque officia voluptatibus quae porro officiis tempore quos. Sed, ullam fugit. Sequi adipisci provident nesciunt! Aut animi aliquam dicta dolores. Magni!Lorem</p>	
</MainLayout>